<h3 class="page-title"> Wiki&nbsp;&nbsp;<a href="/wiki" class="btn blue btn-outline">Назад</a></h3>
<div class="row">
	<div class="col-md-12">
		<input type="hidden" id="article-id" value="<%=article.id%>"/>
		<div class="row">
			<div class="col-md-12">
				<div class="btn green" onclick="Save()">Сохранить</div>
				<div class="btn default" onclick="Cancel()">Отменить</div>
				<% if (article.permanent != true) { %>
				<div class="btn red-pink pull-right" onclick="Delete()">Удалить</div>
				<% } %>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-12">
				<form class="form-horizontal" role="form" id="form-article">
					<div class="col-md-12">
						<div class="form-group">
							<input type="text" class="form-control" name="title" placeholder="Заголовок" value="<%=article.title%>">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="col-md-4 control-label">Контрагент</label>
							<div class="col-md-8">
								<select name="agent" class="form-control">
									<option value="" <%=article.agent==''?'selected':''%>></option>
									<% for (i = 0; i < agents.length; ++i) { %>
									<option value="<%=agents[i].id%>" <%=article.agent==agents[i].id?'selected':''%>><%=agents[i].name%></option>
									<% } %>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">Проект</label>
							<div class="col-md-8">
								<select name="project" class="form-control">
									<option value="" <%=article.project==''?'selected':''%>></option>
									<% for (i = 0; i < projects.length; ++i) { %>
									<option value="<%=projects[i].id%>" <%=article.project==projects[i].id?'selected':''%>><%=projects[i].name%></option>
									<% } %>
								</select>
							</div>
						</div>
					</div>
					<% if (article.id != 'home') { %>
					<div class="col-md-6">
						<div class="form-group">
							<label class="col-md-4 control-label">Уровень доступа</label>
							<div class="col-md-8">
								<select name="access" class="form-control">
									<option value="all" <%=article.access=='all'?'selected':''%>>Все</option>
									<option value="admin" <%=article.access=='admin'?'selected':''%>>Администратор</option>
								</select>
							</div>
						</div>
					</div>
					<% } %>
					<div class="col-md-12">
						<div class="form-group last">
							<textarea class="wysihtml5 form-control" rows="30" name="text"><%-article.text%></textarea>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
